<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Customer Register</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<h2>Customer Registration</h2>

<input type="text" id="username" placeholder="Username">
<input type="password" id="password" placeholder="Password">
<input type="text" id="fullName" placeholder="Full Name">
<input type="email" id="email" placeholder="Email">
<input type="text" id="phoneNumber" placeholder="Phone Number">

<button onclick="registerCustomer()">Register Customer</button>

<script src="/js/register-customer.js"></script>
<script src="/js/toast.js"></script>

</body>
</html>