<h2>Room List</h2>

<div id="rooms"></div>

<script src="/js/script.js"></script>

<script>
function loadRooms() {

    fetch("/api/rooms", {
        headers: authHeaders()
    })
    .then(res => res.json())
    .then(data => {

        let html = "";

        data.forEach(r => {
            html += `
                <div class="card">
                    <h3>Room ${r.roomNumber}</h3>
                    <p>Type: ${r.roomType}</p>
                    <p>Price: ${r.price}</p>

                    <button onclick="deleteRoom(${r.roomId})">Delete</button>
                </div>
            `;
        });

        document.getElementById("rooms").innerHTML = html;
    });
}

function deleteRoom(id) {

    fetch(`/api/rooms/${id}`, {
        method: "DELETE",
        headers: authHeaders()
    })
    .then(() => loadRooms());
}

loadRooms();
</script>