<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout :: layout(~{::title}, ~{::section})">

<title>Register</title>

<section>
    <div class="auth-container">

        <h2>Register</h2>

        <form id="registerForm">
            <input type="text" id="name" placeholder="Full Name" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="password" placeholder="Password" required>

            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a th:href="@{/login}">Login</a></p>

    </div>
</section>

</html>