<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${title}">Hotel System</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <script th:src="@{/js/script.js}" defer></script>
</head>

<body>

<!-- NAVBAR -->
<div th:replace="fragments/navbar :: navbar"></div>

<!-- MAIN CONTENT -->
<div class="main-container">
    <div th:insert="${content}"></div>
</div>

<!-- FOOTER -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>