<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Manage Customers</title>
</head>
<body>
	<h2>Manage Customers</h2>

<div id="customers"></div>

<script src="/js/script.js"></script>

<script>
fetch("/api/customers", {
    headers: authHeaders()
})
.then(res => res.json())
.then(data => {

    let html = "";

    data.forEach(c => {
        html += `
            <div class="card">
                <p>${c.fullName}</p>
                <p>${c.email}</p>
                <button onclick="deleteCustomer(${c.customerId})">Delete</button>
            </div>
        `;
    });

    document.getElementById("customers").innerHTML = html;
});

function deleteCustomer(id) {

    fetch(`/api/customers/${id}`, {
        method: "DELETE",
        headers: authHeaders()
    })
    .then(() => location.reload());
}
</script>
</body>
</html>