<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Payment</title>
</head>
<body>
	<h2>Payment</h2>

<input id="billId" placeholder="Billing ID">
<input id="amount" placeholder="Amount">

<button onclick="pay()">Pay</button>

<script src="/js/script.js"></script>

<script>
function pay() {

    fetch(`/api/billing/pay/${billId.value}`, {
        method: "PUT",
        headers: authHeaders(),
        body: JSON.stringify({
            amount: amount.value
        })
    })
    .then(() => alert("Payment Successful"));
}
</script>
</body>
</html>