<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Hotel System</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<div th:fragment="layout(content)">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="main-content" th:insert="${content}"></div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

</body>
</html>