<div th:fragment="navbar">
	<nav class="navbar">

		<div class="logo">Hotel Paradise</div>

		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/rooms}">Rooms</a></li>

			<!-- AFTER LOGIN -->
			<li th:if="${loggedInUser != null and role == 'ADMIN'}"><a
				th:href="@{/dashboard/admin}">Dashboard</a></li>

			<li th:if="${loggedInUser != null and role == 'CUSTOMER'}">
				<a th:href="@{/dashboard/customer}">Dashboard</a>
			</li>

			<li th:if="${loggedInUser != null}"><a th:href="@{/logout}">Logout</a>
			</li>

		</ul>

	</nav>
</div>