<div th:fragment="navbar">
	<nav class="navbar">

		<div class="logo">Hotel Paradise</div>

		<ul>
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/rooms}">Rooms</a></li>

			<!-- BEFORE LOGIN -->
			<li th:if="${loggedInUser == null}"><a th:href="@{/auth/login}">Login</a>
			</li>

			<li th:if="${loggedInUser == null}"><a
				th:href="@{/auth/register}">Register</a></li>

			<!-- AFTER LOGIN -->
			<li th:if="${loggedInUser != null}"><a th:href="@{/dashboard}">Dashboard</a>
			</li>

			<li th:if="${loggedInUser != null}"><a th:href="@{/logout}">Logout</a>
			</li>

		</ul>

	</nav>
</div>