<h2>Hotel List</h2>

<div id="hotelList"></div>

<script src="/js/script.js"></script>

<script>
function loadHotels() {

    fetch("/api/hotels", {
        headers: authHeaders()
    })
    .then(res => res.json())
    .then(data => {

        let html = "";

        data.forEach(h => {
            html += `
                <div class="card">
                    <h3>${h.name}</h3>
                    <p>${h.city}</p>

                    <button onclick="deleteHotel(${h.hotelId})">Delete</button>
                </div>
            `;
        });

        document.getElementById("hotelList").innerHTML = html;
    });
}

function deleteHotel(id) {

    fetch(`/api/hotels/${id}`, {
        method: "DELETE",
        headers: authHeaders()
    })
    .then(() => loadHotels());
}

loadHotels();
</script>